<form id=login_form" action="../../controllers/login.php" method="post">
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="text" class="form-control" name="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="text" class="form-control" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Войти</button>

    <button type="button" class="btn btn-primary">Отмена</button>
</form>
