<div class="mb-3">
    <label class="form-label">Название</label>
    <input type="text" class="form-control" name="title" id="title" required>
</div>
<p>
<div class="dropdown" id="company_dropdown">
</div>
</p>
<div class="mb-3">
    <label class="form-label">Дата и время встречи</label>
    <input type="datetime-local" id="datetime" name="datetime">
</div>
<p>
    <div class="dropdown" id="status_dropdown">
    </div>
</p>
<p>
    <div class="dropdown" id="type_dropdown">
    </div>
</p>
<p>
</p>
<div class="mb-3">
    <label class="form-label">Детали</label>
    <input type="text" class="form-control" name="details" id="details">
</div>

